spring:
  application:
    name: e-commerce
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/ecommerce
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 10MB

jwt:
  secret: aGJrZnJrZ2F334a3fE5MjY0NTYwOTMxMjM0NTYwOTMzMjM0NTYwOTMz
  expirationMs: 3600000

springdoc:
  swagger-ui:
    path: /swagger-ui.html